
<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>≺</string>
		<key>shortcut</key>
		<string>~&lt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≻</string>
		<key>shortcut</key>
		<string>~&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≼</string>
		<key>shortcut</key>
		<string>~≤</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≼</string>
		<key>shortcut</key>
		<string>~&lt;=</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≽</string>
		<key>shortcut</key>
		<string>~≥</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≽</string>
		<key>shortcut</key>
		<string>~&gt;=</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≌</string>
		<key>shortcut</key>
		<string>~=</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∈</string>
		<key>shortcut</key>
		<string>(-</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∋</string>
		<key>shortcut</key>
		<string>-)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⊆</string>
		<key>shortcut</key>
		<string>(=</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⊂</string>
		<key>shortcut</key>
		<string>(</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⊇</string>
		<key>shortcut</key>
		<string>)=</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⊃</string>
		<key>shortcut</key>
		<string>)</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇒</string>
		<key>shortcut</key>
		<string>=&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇐</string>
		<key>shortcut</key>
		<string>&lt;=</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⇔</string>
		<key>shortcut</key>
		<string>&lt;=&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>→</string>
		<key>shortcut</key>
		<string>-&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>←</string>
		<key>shortcut</key>
		<string>&lt;-</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↔</string>
		<key>shortcut</key>
		<string>&lt;-&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↦</string>
		<key>shortcut</key>
		<string>|-&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>↤</string>
		<key>shortcut</key>
		<string>&lt;-|</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>‖</string>
		<key>shortcut</key>
		<string>||</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⟨</string>
		<key>shortcut</key>
		<string>&lt;|</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⟩</string>
		<key>shortcut</key>
		<string>|&gt;</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>α</string>
		<key>shortcut</key>
		<string>alpha</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Α</string>
		<key>shortcut</key>
		<string>Alpha</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>γ</string>
		<key>shortcut</key>
		<string>gamma</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Γ</string>
		<key>shortcut</key>
		<string>Gamma</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>δ</string>
		<key>shortcut</key>
		<string>delta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Δ</string>
		<key>shortcut</key>
		<string>Delta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ε</string>
		<key>shortcut</key>
		<string>epsilon</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Ε</string>
		<key>shortcut</key>
		<string>Epsilon</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>β</string>
		<key>shortcut</key>
		<string>beta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Β</string>
		<key>shortcut</key>
		<string>Beta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ζ</string>
		<key>shortcut</key>
		<string>zeta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Ζ</string>
		<key>shortcut</key>
		<string>Zeta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>θ</string>
		<key>shortcut</key>
		<string>theta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Θ</string>
		<key>shortcut</key>
		<string>Theta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>η</string>
		<key>shortcut</key>
		<string>eta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Η</string>
		<key>shortcut</key>
		<string>Eta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ι</string>
		<key>shortcut</key>
		<string>iota</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Ι</string>
		<key>shortcut</key>
		<string>Iota</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>κ</string>
		<key>shortcut</key>
		<string>kappa</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Κ</string>
		<key>shortcut</key>
		<string>Kappa</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>λ</string>
		<key>shortcut</key>
		<string>lambda</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Λ</string>
		<key>shortcut</key>
		<string>Lambda</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>μ</string>
		<key>shortcut</key>
		<string>mu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Μ</string>
		<key>shortcut</key>
		<string>Mu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ν</string>
		<key>shortcut</key>
		<string>nu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Ν</string>
		<key>shortcut</key>
		<string>Nu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ξ</string>
		<key>shortcut</key>
		<string>xi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Ξ</string>
		<key>shortcut</key>
		<string>Xi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ο</string>
		<key>shortcut</key>
		<string>omicron</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Ο</string>
		<key>shortcut</key>
		<string>Omicron</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>π</string>
		<key>shortcut</key>
		<string>pi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Π</string>
		<key>shortcut</key>
		<string>Pi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ρ</string>
		<key>shortcut</key>
		<string>rho</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Ρ</string>
		<key>shortcut</key>
		<string>Rho</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>σ</string>
		<key>shortcut</key>
		<string>sigma</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Σ</string>
		<key>shortcut</key>
		<string>Sigma</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>τ</string>
		<key>shortcut</key>
		<string>tau</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Τ</string>
		<key>shortcut</key>
		<string>Tau</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>υ</string>
		<key>shortcut</key>
		<string>upsilon</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Υ</string>
		<key>shortcut</key>
		<string>Upsilon</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>φ</string>
		<key>shortcut</key>
		<string>phi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Φ</string>
		<key>shortcut</key>
		<string>Phi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>χ</string>
		<key>shortcut</key>
		<string>chi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Χ</string>
		<key>shortcut</key>
		<string>Chi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ψ</string>
		<key>shortcut</key>
		<string>psi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Ψ</string>
		<key>shortcut</key>
		<string>Psi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ω</string>
		<key>shortcut</key>
		<string>omega</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>Ω</string>
		<key>shortcut</key>
		<string>Omega</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>א</string>
		<key>shortcut</key>
		<string>aleph</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>א</string>
		<key>shortcut</key>
		<string>alef</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕒</string>
		<key>shortcut</key>
		<string>\a</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕓</string>
		<key>shortcut</key>
		<string>\b</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕔</string>
		<key>shortcut</key>
		<string>\c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕕</string>
		<key>shortcut</key>
		<string>\d</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕖</string>
		<key>shortcut</key>
		<string>\e</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕗</string>
		<key>shortcut</key>
		<string>\f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕘</string>
		<key>shortcut</key>
		<string>\g</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕙</string>
		<key>shortcut</key>
		<string>\h</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕚</string>
		<key>shortcut</key>
		<string>\i</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕛</string>
		<key>shortcut</key>
		<string>\j</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕜</string>
		<key>shortcut</key>
		<string>\k</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕝</string>
		<key>shortcut</key>
		<string>\l</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕞</string>
		<key>shortcut</key>
		<string>\m</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕟</string>
		<key>shortcut</key>
		<string>\n</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕠</string>
		<key>shortcut</key>
		<string>\o</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕡</string>
		<key>shortcut</key>
		<string>\p</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕢</string>
		<key>shortcut</key>
		<string>\q</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕣</string>
		<key>shortcut</key>
		<string>\r</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕤</string>
		<key>shortcut</key>
		<string>\s</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕥</string>
		<key>shortcut</key>
		<string>\t</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕦</string>
		<key>shortcut</key>
		<string>\u</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕧</string>
		<key>shortcut</key>
		<string>\v</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕨</string>
		<key>shortcut</key>
		<string>\w</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕩</string>
		<key>shortcut</key>
		<string>\x</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕪</string>
		<key>shortcut</key>
		<string>\y</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕫</string>
		<key>shortcut</key>
		<string>\z</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔸</string>
		<key>shortcut</key>
		<string>\A</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔹</string>
		<key>shortcut</key>
		<string>\B</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℂ</string>
		<key>shortcut</key>
		<string>\C</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔻</string>
		<key>shortcut</key>
		<string>\D</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔼</string>
		<key>shortcut</key>
		<string>\E</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔽</string>
		<key>shortcut</key>
		<string>\F</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔾</string>
		<key>shortcut</key>
		<string>\G</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℍ</string>
		<key>shortcut</key>
		<string>\H</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕀</string>
		<key>shortcut</key>
		<string>\I</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕁</string>
		<key>shortcut</key>
		<string>\J</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕂</string>
		<key>shortcut</key>
		<string>\K</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕃</string>
		<key>shortcut</key>
		<string>\L</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕄</string>
		<key>shortcut</key>
		<string>\M</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℕ</string>
		<key>shortcut</key>
		<string>\N</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕆</string>
		<key>shortcut</key>
		<string>\O</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℙ</string>
		<key>shortcut</key>
		<string>\P</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℚ</string>
		<key>shortcut</key>
		<string>\Q</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℝ</string>
		<key>shortcut</key>
		<string>\R</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕊</string>
		<key>shortcut</key>
		<string>\S</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕋</string>
		<key>shortcut</key>
		<string>\T</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕌</string>
		<key>shortcut</key>
		<string>\U</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕍</string>
		<key>shortcut</key>
		<string>\V</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕎</string>
		<key>shortcut</key>
		<string>\W</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕏</string>
		<key>shortcut</key>
		<string>\X</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝕐</string>
		<key>shortcut</key>
		<string>\Y</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℤ</string>
		<key>shortcut</key>
		<string>\Z</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒜</string>
		<key>shortcut</key>
		<string>A.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒶</string>
		<key>shortcut</key>
		<string>a.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℬ</string>
		<key>shortcut</key>
		<string>B.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒷</string>
		<key>shortcut</key>
		<string>b.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒞</string>
		<key>shortcut</key>
		<string>C.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒸</string>
		<key>shortcut</key>
		<string>c.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒟</string>
		<key>shortcut</key>
		<string>D.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒹</string>
		<key>shortcut</key>
		<string>d.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℰ</string>
		<key>shortcut</key>
		<string>E.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℯ</string>
		<key>shortcut</key>
		<string>e.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℱ</string>
		<key>shortcut</key>
		<string>F.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒻</string>
		<key>shortcut</key>
		<string>f.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒢</string>
		<key>shortcut</key>
		<string>G.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℊ</string>
		<key>shortcut</key>
		<string>g.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℋ</string>
		<key>shortcut</key>
		<string>H.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒽</string>
		<key>shortcut</key>
		<string>h.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℐ</string>
		<key>shortcut</key>
		<string>I.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒾</string>
		<key>shortcut</key>
		<string>i.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒥</string>
		<key>shortcut</key>
		<string>J.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒿</string>
		<key>shortcut</key>
		<string>j.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒦</string>
		<key>shortcut</key>
		<string>K.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝓀</string>
		<key>shortcut</key>
		<string>k.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℒ</string>
		<key>shortcut</key>
		<string>L.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝓁</string>
		<key>shortcut</key>
		<string>l.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℳ</string>
		<key>shortcut</key>
		<string>M.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝓂</string>
		<key>shortcut</key>
		<string>m.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒩</string>
		<key>shortcut</key>
		<string>N.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝓃</string>
		<key>shortcut</key>
		<string>n.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒪</string>
		<key>shortcut</key>
		<string>O.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℴ</string>
		<key>shortcut</key>
		<string>o.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒫</string>
		<key>shortcut</key>
		<string>P.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝓅</string>
		<key>shortcut</key>
		<string>p.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒬</string>
		<key>shortcut</key>
		<string>Q.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝓆</string>
		<key>shortcut</key>
		<string>q.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℛ</string>
		<key>shortcut</key>
		<string>R.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝓇</string>
		<key>shortcut</key>
		<string>r.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒮</string>
		<key>shortcut</key>
		<string>S.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝓈</string>
		<key>shortcut</key>
		<string>s.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒯</string>
		<key>shortcut</key>
		<string>T.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝓉</string>
		<key>shortcut</key>
		<string>t.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒰</string>
		<key>shortcut</key>
		<string>U.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝓊</string>
		<key>shortcut</key>
		<string>u.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒱</string>
		<key>shortcut</key>
		<string>V.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝓋</string>
		<key>shortcut</key>
		<string>v.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒲</string>
		<key>shortcut</key>
		<string>W.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝓌</string>
		<key>shortcut</key>
		<string>w.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒳</string>
		<key>shortcut</key>
		<string>X.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝓍</string>
		<key>shortcut</key>
		<string>x.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒴</string>
		<key>shortcut</key>
		<string>Y.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝓎</string>
		<key>shortcut</key>
		<string>y.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝒵</string>
		<key>shortcut</key>
		<string>Z.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝓏</string>
		<key>shortcut</key>
		<string>z.c</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔄</string>
		<key>shortcut</key>
		<string>A.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔞</string>
		<key>shortcut</key>
		<string>a.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔅</string>
		<key>shortcut</key>
		<string>B.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔟</string>
		<key>shortcut</key>
		<string>b.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℭ</string>
		<key>shortcut</key>
		<string>C.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔠</string>
		<key>shortcut</key>
		<string>c.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔇</string>
		<key>shortcut</key>
		<string>D.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔡</string>
		<key>shortcut</key>
		<string>d.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔈</string>
		<key>shortcut</key>
		<string>E.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔢</string>
		<key>shortcut</key>
		<string>e.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔉</string>
		<key>shortcut</key>
		<string>F.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔣</string>
		<key>shortcut</key>
		<string>f.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔊</string>
		<key>shortcut</key>
		<string>G.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔤</string>
		<key>shortcut</key>
		<string>g.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℌ</string>
		<key>shortcut</key>
		<string>H.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔥</string>
		<key>shortcut</key>
		<string>h.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℑ</string>
		<key>shortcut</key>
		<string>I.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔦</string>
		<key>shortcut</key>
		<string>i.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔍</string>
		<key>shortcut</key>
		<string>J.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔧</string>
		<key>shortcut</key>
		<string>j.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔎</string>
		<key>shortcut</key>
		<string>K.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔨</string>
		<key>shortcut</key>
		<string>k.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔏</string>
		<key>shortcut</key>
		<string>L.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔩</string>
		<key>shortcut</key>
		<string>l.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔐</string>
		<key>shortcut</key>
		<string>M.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔪</string>
		<key>shortcut</key>
		<string>m.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔑</string>
		<key>shortcut</key>
		<string>N.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔫</string>
		<key>shortcut</key>
		<string>n.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔒</string>
		<key>shortcut</key>
		<string>O.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔬</string>
		<key>shortcut</key>
		<string>o.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔓</string>
		<key>shortcut</key>
		<string>P.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔭</string>
		<key>shortcut</key>
		<string>p.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔔</string>
		<key>shortcut</key>
		<string>Q.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔮</string>
		<key>shortcut</key>
		<string>q.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℜ</string>
		<key>shortcut</key>
		<string>R.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔯</string>
		<key>shortcut</key>
		<string>r.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔖</string>
		<key>shortcut</key>
		<string>S.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔰</string>
		<key>shortcut</key>
		<string>s.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔗</string>
		<key>shortcut</key>
		<string>T.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔱</string>
		<key>shortcut</key>
		<string>t.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔘</string>
		<key>shortcut</key>
		<string>U.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔲</string>
		<key>shortcut</key>
		<string>u.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔙</string>
		<key>shortcut</key>
		<string>V.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔳</string>
		<key>shortcut</key>
		<string>v.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔚</string>
		<key>shortcut</key>
		<string>W.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔴</string>
		<key>shortcut</key>
		<string>w.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔛</string>
		<key>shortcut</key>
		<string>X.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔵</string>
		<key>shortcut</key>
		<string>x.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔜</string>
		<key>shortcut</key>
		<string>Y.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔶</string>
		<key>shortcut</key>
		<string>y.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ℨ</string>
		<key>shortcut</key>
		<string>Z.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝔷</string>
		<key>shortcut</key>
		<string>z.f</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♀</string>
		<key>shortcut</key>
		<string>female</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♂</string>
		<key>shortcut</key>
		<string>male</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☉</string>
		<key>shortcut</key>
		<string>Sun</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☿</string>
		<key>shortcut</key>
		<string>Mercury</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♀</string>
		<key>shortcut</key>
		<string>Venus</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♁</string>
		<key>shortcut</key>
		<string>Earth</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>☾</string>
		<key>shortcut</key>
		<string>Moon</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♂</string>
		<key>shortcut</key>
		<string>Mars</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♃</string>
		<key>shortcut</key>
		<string>Jupiter</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♄</string>
		<key>shortcut</key>
		<string>Saturn</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⛢</string>
		<key>shortcut</key>
		<string>Uranus</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>♆</string>
		<key>shortcut</key>
		<string>Neptune</string>
	</dict>
</array>
</plist>
